<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string>1.0 Copyright © 2020-2022 HomeLab.</string>
	<key>CFBundleIdentifier</key>
	<string>com.Mike.HuaweiWebCam</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>HuaweiWebCam</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>8.8.8</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>WebCamera</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBHostMergeProperties</string>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>USB Product Name</key>
				<string>Techfront HM1091</string>
				<key>idProduct</key>
				<integer>34055</integer>
				<key>idVendor</key>
				<integer>1452</integer>
			</dict>
			<key>idProduct</key>
			<integer>4128</integer>
			<key>idVendor</key>
			<integer>1032</integer>
		</dict>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
